<h2>本课所有考试：</h2>
<div *ngFor="let exam of exams">
  <span class="sequence">第{{exam.chapter.sequence + 1}}章</span>
  <span class="chapter-name">{{exam.chapter.chapterName}}</span>
  <span class="questionNum">问题数目:{{exam.questionNum}}</span>
  <span class="currentScore">当前分数：{{exam.examScoreMessage.examScore}}</span>
  <button (click)="takeExam(exam.examId)" [disabled]="!exam.examScoreMessage.examScore" mat-button>参加测试</button>
  <app-exam-detail *ngIf="exam.examId === detailPosition" [examId]="exam.examId"></app-exam-detail>
</div>
