<h2>创建第{{chapterSequence + 1}}章考试内容</h2>
<div class="add-exam-container">
  <app-service-error-message [errorResponse]="errorResponse" [indicator]="'编辑考试失败'"></app-service-error-message>

  <div *ngFor="let question of examCreationMessage.questionsCreationMessages; let i = index">
    <button (click)="toggleAddQuestionPosition(i)" class="add-question-button" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <div *ngIf="addQuestionPosition === i">
      <label class="question-label">第 {{ i + 1 }} 题</label>
      <mat-form-field>
        <textarea [(ngModel)]="questionCreationMessage.detail" cdkTextareaAutosize matInput placeholder="问题"></textarea>
      </mat-form-field>
      <button (click)="addQuestion()" [disabled]="questionCreationMessage.detail === null
      || questionCreationMessage.answerIndex === -1 || questionCreationMessage.questionOptionCreationMessages === null"
              color="primary" mat-button>添加问题
      </button>
      <mat-radio-group
        [(ngModel)]="questionCreationMessage.answerIndex"
        class="added-options">
        <mat-radio-button *ngFor="let option of questionCreationMessage.questionOptionCreationMessages
                          let k= index"
                          [value]="k" class="option-radio-button">
          <div>
          <span *ngIf="k === questionCreationMessage.answerIndex"
                class="right-answer">{{option.questionOptionDetail}}</span>
            <span *ngIf="k != questionCreationMessage.answerIndex"
                  class="other-option">{{option.questionOptionDetail}}</span>
            <button (click)="removeOption(k)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-radio-button>
      </mat-radio-group>
      <div class="add-option">
        <mat-form-field>
          <input [(ngModel)]="questionOptionCreationMessage.questionOptionDetail" matInput placeholder="选项">
        </mat-form-field>
        <button (click)="addOption()" [disabled]="questionOptionCreationMessage.questionOptionDetail === null"
                color="primary"
                mat-button>
          添加选项
        </button>
      </div>
    </div>

    <div class="added-question">
      <span class="question-label">第 {{i + 1}} 题</span>
      <span class="question-detail">{{question.detail}}</span>
      <button (click)="removeQuestion(i)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <div *ngFor="let option of question.questionOptionCreationMessages; let h = index" class="added-question-options">
        <span class="option-label">选项 {{h + 1}}</span>
        <span [class.right-answer]="h === question.answerIndex" class="added-question-option">
          {{option.questionOptionDetail}}
        </span>
      </div>
    </div>
  </div>
  <button (click)="toggleAddQuestionPosition(examCreationMessage.questionsCreationMessages.length)"
          class="add-question-button"
          mat-icon-button>
    <mat-icon>add</mat-icon>
  </button>
  <div *ngIf="addQuestionPosition === examCreationMessage.questionsCreationMessages.length">
    <label class="question-label">第 {{ examCreationMessage.questionsCreationMessages.length + 1 }} 题</label>
    <mat-form-field>
      <textarea [(ngModel)]="questionCreationMessage.detail" cdkTextareaAutosize matInput placeholder="问题"></textarea>
    </mat-form-field>
    <button (click)="addQuestion()" [disabled]="questionCreationMessage.detail === null
      || questionCreationMessage.answerIndex === -1 || questionCreationMessage.questionOptionCreationMessages === null"
            color="primary" mat-button>添加问题
    </button>
    <mat-radio-group
      [(ngModel)]="questionCreationMessage.answerIndex"
      class="added-options">
      <mat-radio-button *ngFor="let option of questionCreationMessage.questionOptionCreationMessages
                let k= index"
                        [value]="k" class="option-radio-button">
        <div>
          <span *ngIf="k === questionCreationMessage.answerIndex"
                class="right-answer">{{option.questionOptionDetail}}</span>
          <span *ngIf="k != questionCreationMessage.answerIndex"
                class="other-option">{{option.questionOptionDetail}}</span>
          <button (click)="removeOption(k)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-radio-button>
    </mat-radio-group>
    <div class="add-option">
      <mat-form-field>
        <input [(ngModel)]="questionOptionCreationMessage.questionOptionDetail" matInput placeholder="选项">
      </mat-form-field>
      <button (click)="addOption()" [disabled]="questionOptionCreationMessage.questionOptionDetail === null"
              color="primary"
              mat-button>
        添加选项
      </button>
    </div>
  </div>

  <div>
    <button (click)="createExam()" [disabled]="examCreationMessage.questionsCreationMessages === null" color="primary"
            mat-button>
      创建考试
    </button>
  </div>
</div>
