<div class="notice-list-container">
  <h2>公告列表</h2>
  <table [dataSource]="dataSource" class="notice-list-table" mat-table>
    <!-- timeCreated column -->
    <ng-container matColumnDef="timeCreated">
      <th *matHeaderCellDef mat-header-cell>创建时间</th>
      <td *matCellDef="let element" mat-cell> {{element.timeCreated | date: 'short'}} </td>
    </ng-container>

    <!-- title column -->
    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell>公告标题</th>
      <td *matCellDef="let element" mat-cell> {{element.title}} </td>
    </ng-container>

    <!-- detail column -->
    <ng-container matColumnDef="detail">
      <th *matHeaderCellDef mat-header-cell>公告内容</th>
      <td *matCellDef="let element" mat-cell> {{element.detail}} </td>
    </ng-container>

    <!-- action column -->
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell>管理公告</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="editNotice()" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="removeNotice(element.noticeId)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10]" class="paginator" showFirstLastButtons></mat-paginator>
  <app-service-error-message [errorResponse]="errorResponse" [indicator]="'获取公告列表失败'"></app-service-error-message>
</div>
