<h3>第 {{ sectionMessage.sequence + 1 }} 章第 {{ sectionMessage.sequence + 1 }} 节</h3>

<table [dataSource]="sectionMessage.fileSources" mat-table>

  <!-- identifier column -->
  <ng-container matColumnDef="identifier">
    <th *matHeaderCellDef mat-header-cell>文件标识</th>
    <td *matCellDef="let element" mat-cell> {{ element.identifier }} </td>
  </ng-container>

  <!-- filename column -->
  <ng-container matColumnDef="filename">
    <th *matHeaderCellDef mat-header-cell>文件名</th>
    <td *matCellDef="let element" mat-cell> {{ element.filename }} </td>
  </ng-container>

  <!-- fileType column -->
  <ng-container matColumnDef="fileType">
    <th *matHeaderCellDef mat-header-cell>类型</th>
    <td *matCellDef="let element" mat-cell> {{ element.type }} </td>
  </ng-container>

  <!-- action column -->
  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell>操作</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
