<div class="main-aside-container">
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
  <div class="aside-container">
    <nav>
      <button class="nav-button" mat-button routerLink="./notice-management">公告管理</button>
      <button class="nav-button" mat-button routerLink="./add-course">新增课程</button>
      <button class="nav-button" mat-button routerLink="./course-management">课程内容管理</button>
      <button class="nav-button" mat-button routerLink="./application-management">申请管理</button>
      <button class="nav-button" mat-button routerLink="./experiment-management">实验管理</button>
    </nav>
    <mat-divider></mat-divider>
    <app-logout></app-logout>
  </div>
</div>

