<div *ngIf="session">
  <div [ngSwitch]="session.userInfo.role" class="menu-item">
    <div *ngSwitchCase="'student'">
      <button mat-button routerLink="/student-home">
        <mat-icon>account_circle</mat-icon>
        <span class="name">{{ session.userInfo.realName }}</span>
      </button>
    </div>
    <div *ngSwitchCase="'teacher'">
      <button mat-button routerLink="/teacher-home">
        <mat-icon>account_circle</mat-icon>
        <span class="name">{{ session.userInfo.realName }}</span>
      </button>
    </div>
    <div *ngSwitchCase="'administrator'">
      <button mat-button routerLink="/admin-console">
        <mat-icon>build</mat-icon>
        <span class="name">{{ session.userInfo.realName }}</span>
      </button>
    </div>
  </div>
</div>
<div *ngIf="!session">
  <button mat-icon-button routerLink="/login"><mat-icon>account_circle</mat-icon></button>
</div>
