@import "spm-app-theme.scss";

@include mat-core();
@include angular-material-theme($spm-app-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  // for min-height to 100vh
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
