@import "spm-app-theme.scss";

@include mat-core();
@include angular-material-theme($spm-app-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
