<div class="course-summary-container">
  <mat-card>
    <mat-card-title>
      {{courseSummaryMessage.courseName}}
    </mat-card-title>
    <mat-card-content>
      <p class="content-field">
        <span class="field-label">课时数</span>{{courseSummaryMessage.period}}
      </p>
      <p class="content-field">
        <span class="field-label">开课时间</span>{{courseSummaryMessage.startDate | date:'mediumDate'}}
      </p>
      <p class="content-field">
        <span class="field-label">结课时间</span>{{courseSummaryMessage.finishDate | date:'mediumDate'}}
      </p>
      <p class="content-field">
        <span class="field-label">任课老师</span>{{courseSummaryMessage.teacher.userInfo.realName}}
      </p>
      <p class="content-field">
        <span class="field-label">课程简介</span>{{courseSummaryMessage.descriptionSummary}}
        <span>……</span>
      </p>
    </mat-card-content>
    <!--    <mat-card-action>-->
    <!--      <button mat-button (click)="onClick()" routerLink="/student-home">选课</button>-->
    <!--    </mat-card-action>-->
  </mat-card>
</div>
