<h2>添加考试到章节</h2>
<div *ngFor="let chapter of chapters">
  <span class="sequence">第{{chapter.sequence + 1}}章</span>
  <span class="chapter-name">{{chapter.chapterName}}</span>
  <button (click)="goAddExam(chapter.sequence)" mat-button>添加考试</button>
</div>
<h2>所有考试</h2>
<div *ngFor="let exam of exams">
  <span class="sequence">第{{exam.chapter.sequence + 1}}章</span>
  <span class="chapter-name">{{exam.chapter.chapterName}}</span>
  <span class="questionNum">问题数目:{{exam.questionNum}}</span>
  <button (click)="toggleExamDetail(exam.examId)" mat-button>查看测试内容</button>
  <app-exam-detail *ngIf="exam.examId === detailPosition" [examId]="exam.examId"></app-exam-detail>
</div>
